<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Source: {{ source.name }} </title>
</head>

<style>
    table {
        width: 100%;
    }

    @media screen and (max-width: 1000px) {
        table {
            width: 1000px !important;
            overflow-y: auto;
        }
    }

    @media screen and (max-width: 800px) {
        table {
            width: 90vw !important;
            overflow-y: auto;
        }
    }

    #genres .genre-item:hover {
        font-weight: bold;
        cursor: pointer;
    }
</style>

<body>
    {{ source|json_script:"source" }}
    <div style="margin: 0px auto; width: 90%">
        <h1 class="mt-5 mb-4 text-center">{{ source.name }}</h1>
        <div class="container">
            <a href="/source" class="btn btn-primary mb-2 px-5" role="button">Back</a>
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Crawled</th>
                                <th scope="col">All</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Novels</th>
                                <td id="novels-crawled">{{ source.novels.crawled }}</td>
                                <td id="novels-all">{{ source.novels.all }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Chapters</th>
                                <td id="chapters-crawled">{{ source.chapters.crawled }}</td>
                                <td id="chapters-all">{{ source.chapters.all }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <label for="logs">Logs</label>
                        <textarea class="form-control" id="logs" rows="16" readonly></textarea>
                    </div>
                </div>
                <div class="col-12 col-md-4 col-lg-3" style="background: #EBF1F1; padding: 10px 0px">
                    <div class="container">
                        <div style="margin-bottom: 8px;">
                            <p style="font-weight: bold; margin-bottom: 4px;">THỂ LOẠI TRUYỆN
                            </p>
                        </div>
                        <div class="row" id="genres">
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script>
        const source = JSON.parse(document.getElementById('source').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/source/'
            + source.name
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data).message;
            if (data.message) {
                const newMessage = data.message + '\n';
                const currentLogs = document.querySelector('#logs').value;
                const updatedLogs = newMessage + currentLogs.split('\n').slice(0, 15).join('\n');
                document.querySelector('#logs').value = updatedLogs;
            }
            if (data.novels.crawled) {
                document.getElementById('novels-crawled').textContent = data.novels.crawled;
            }
            if (data.novels.all) {
                document.getElementById('novels-all').textContent = data.novels.all;
            }
            if (data.chapters.crawled) {
                document.getElementById('chapters-crawled').textContent = data.chapters.crawled;
            }
            if (data.chapters.all) {
                document.getElementById('chapters-all').textContent = data.chapters.all;
            }
            if (data.genres) {
                renderGenres(data.genres);
            }
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        const renderGenres = (genres) => {
            const genresDiv = document.getElementById('genres');
            genresDiv.innerHTML = '';
            const table = document.createElement('table');
            table.className = "table table-striped table-bordered"
            const tableHead = document.createElement('thead');
            tableHead.innerHTML = `<tr>
      <th scope="col">Tên</th>
      <th scope="col">Truyện</th>
    </tr>`
            table.appendChild(tableHead);
            const tableBody = document.createElement('tbody');

            for (let i = 0; i < genres.length; i++) {
                const item = genres[i];
                const row = tableBody.insertRow(i);
                const link = document.createElement('a'); // Create anchor tag
                link.href = `/source/${source.name}/${item.slug}/`; // Set the href attribute
                link.style.textDecoration = 'none'; // Optional: remove underline
                row.insertCell(0).appendChild(link).innerHTML = item.name; // Append the link to the cell and set its content
                row.insertCell(1).innerHTML = `${item.stats.novels.crawled} / ${item.stats.novels.all}`;
            }

            table.appendChild(tableBody);
            genresDiv.appendChild(table);
        }

        window.onload = () => {
            renderGenres(source.genres);
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>